.active {
    color: green;
}
.stronaa {
    background-color: orangered;
}

#kontener {
    text-align: center;
}
#polewej {
    display: inline-block;
    width:50%;
}
#poprawej {
    display: inline-block;
    width: 50%;
}