/*SIZE*/
/*FLEX*/
/*PADDING AND MARGIN*/
/*BORDER*/
/*BOX*/
.header {
  width: 100%;
  height: 110px;
  display: flex;
  padding: 0;
  margin: 0;
  background-image: url("../../img/logo.png");
  background-repeat: no-repeat;
  background-position: left; }
