header.title {
    text-align: center;
    height: 100px;
    width: 100%;
    color: #808080;
    margin-top: 30px;
    font-size: 60px;
    font-family:'Adobe Devanagari';
}

div.header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #333;
}
