/*SIZE*/
/*FLEX*/
/*PADDING AND MARGIN*/
/*BORDER*/
/*BOX*/
.leftmenu {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  margin: 0px;
  width: 15%;
  height: 100%;
  display: block;
  text-align: center; }
  .leftmenu li {
    display: block;
    position: center;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    background: rgba(255, 145, 48, 0.5);
    padding: 10px 15px;
    margin: 6px 1px 1px 0px;
    border: 0;
    border-radius: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 2px 3px gray;
    -moz-box-shadow: 0px 2px 3px gray;
    -webkit-box-shadow: 0px 2px 3px gray;
    list-style-type: none; }
  .leftmenu a {
    color: black;
    padding: 8px 16px;
    text-decoration: none; }
    .leftmenu a:hover {
      font-weight: bold;
      background: lighter(rgba(255, 145, 48, 0.5), 2); }
