/*SIZE*/
/*FLEX*/
/*DISPLAY*/
/*PADDING AND MARGIN*/
/*BORDER*/
/*BOX*/
.star {
  background: url("../../img/yellow-star.png") no-repeat;
  background-size: 25px 25px;
  width: 25px;
  height: 25px; }

.gray {
  filter: grayscale(100%); }
