@import 'mixin';
@import 'variables';

article {
    min-height: calc(100vh - 50px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $background-color $background-size; 
    float: right;
    @include flex(3);
    @include pam(0,0);
    @include size(100%,100%);
    @include display(flex,center);

   div{
    font-size: 70px;
    font-weight: bold;
    color: #CC003F;
    font-family: Verdana, Verdana, sans-serif;
}
   section {
    background-image: url('../../img/lets.png');
    @include size(300px, 100px);
}
}



 