@import 'mixin';
@import 'variables';

.leftmenu {
    @include flex(1);
    @include pam(20px,0px);
    @include size(15%,100%);
    @include display(block,center);

    li {
        @include display(block,center);
        position: center;
        font-size: 1.2em;
        text-decoration: none;
        background: $background-color;
        @include pam(10px 15px,6px 1px 1px 0px);
        @include border (0, 10px,5px,5px);
        @include box(0px 2px 3px gray,0px 2px 3px gray,0px 2px 3px gray);
        list-style-type: none;
    }

    a {
        color: black;
        padding: 8px 16px;
        text-decoration: none;

        &:hover {
            font-weight: bold;
            background: lighter($background-color,2);
        }
    }
}
